{% extends "base_generic.html" %}
{% block title %}
  <title>Local Library (MozDev tutorial)</title>
{% endblock %}
{% block content %}
  <h1>Local Library Home</h1>
  <p>LocalLibrary, a website developed by the <em>MozDev</em> team</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>"Der" in title:</strong> {{ num_der }}</li>
  </ul>
{% endblock %}
