{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>
  {{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }}{% endif %}
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <ul>
      {% for book in author.book_set.all %}
        <li><strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.bookinstance_set.count }})</strong><br>{{ book.summary}}</li>
      {% endfor %}
    </ul>
    <!-- Reverse lookup -->
  </div>
  {% if perms.catalog.can_mark_returned %}
    <div style="background-color:lightblue" class="authormod">
      <span class="update"><a href="{{ author.get_absolute_url }}/update">Update author</a></span>
      <span class="delete"><a href="{{ author.get_absolute_url }}/delete">Delete author</a></span>
      <span class="addBook"><a href="">Add book</a></span>
    </div>
  {% endif %}
{% endblock %}
