{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>
  {{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }}{% endif %}
  <div style="margin-left:20px;margin-top:20px">
    <h4>{{ author.num_books }}written:</h4>
    <!-- Reverse lookup -->
    {% for book in author.books %}
      <p>{{ book.title }} <strong>({{ book.bookinstance_set.count() }})</strong></p>
    {% endfor %}
  </div>
{% endblock %}
